<h3>Sign Up</h3>
<br>

<br>
<form action="/signup" method="POST">
<label for="username"> Username: </label>  
<input type="text" name="username" >
<br>
<label for="email"> Email: </label>  
<input type="text" name="email" >
<br>
<label for="password"> Password: </label>
<input type="password" name="password" >
<br>

<br>
  <input type="submit" value="Sign Up">
</form>